In [0]:
from sklearn import tree
import pandas as pd
import os

In [43]:
df = pd.read_csv('/content/Complete_Data_With_Pct_Change_Table_Including_Extra_Measures_Trimmed.csv')
df.head()

   Sector  ...  2020  Peak to Trough EBITDA % Drop
0       1  ...                            0.000000
1       1  ...                            0.619154
2       1  ...                            0.000000
3       1  ...                           -0.097143
4       1  ...                           -0.461007

[5 rows x 15 columns]

In [0]:
target = df["Sector"]

In [45]:
data = df.drop("Sector", axis=1)
feature_names = data.columns
data.head()

   2008  Peak to Trough Close Price % Drop  ...  2020  Peak to Trough EBITDA % Drop
0                                 0.322148  ...                            0.000000
1                                 0.250101  ...                            0.619154
2                                 0.770423  ...                            0.000000
3                                 0.550776  ...                           -0.097143
4                                 0.580489  ...                           -0.461007

[5 rows x 14 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [47]:
clf = tree.DecisionTreeClassifier(max_depth=3).fit(X_train,y_train)
print("Decision Tree Training Score:"+str(clf.score(X_train,y_train)))
print("Decision Tree Test Score:"+str(clf.score(X_test,y_test)))
pred = clf.predict(X_train)

Decision Tree Training Score:1.0
Decision Tree Test Score:0.375

In [48]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.5

In [49]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200, max_depth=3)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.75

In [50]:
print("Random Forest Training Score:"+str(rf.score(X_train,y_train)))
print("Random Forest Test Score:"+str(rf.score(X_test,y_test)))
pred = rf.predict(X_train)

Random Forest Training Score:1.0
Random Forest Test Score:0.75

In [51]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.11594747479358228, '2020  Peak to Trough Close Price % Drop'),
 (0.11565308492544879, '2020  Peak to Trough  Market Cap % Drop'),
 (0.09410211669685788, '2020 Trough to Peak Close Price % Increase'),
 (0.09067310374836857, '2008  Peak to Trough EBITDA % Drop'),
 (0.08125667097234755, '2008  Peak to Trough Close Market Cap % Drop'),
 (0.08108133711952197, '2008  Peak to Trough EPS % Drop'),
 (0.08069158314714071, '2020 Trough to Peak Close  Market Cap % Increase'),
 (0.07741209910900657, '2008  Trough to Peak  Market Cap % Increase'),
 (0.07262618745671086, '2008  Peak to Trough Close Price % Drop'),
 (0.0538134025736256, '2020  Peak to Trough EPS % Drop'),
 (0.04546502367919315, '2008  Trough to Peak EBITDA % Increase'),
 (0.042276631034729305, '2008  Trough to Peak Close Price % Increase'),
 (0.02835661800704492, '2008  Trough to Peak EPS % Increase'),
 (0.020644666736421957, '2020  Peak to Trough EBITDA % Drop')]