In [0]:
from sklearn import tree
import pandas as pd
import os

In [11]:
df = pd.read_csv('/content/constituents-financials_trimmed_csv.csv')
df.head()

   SectorID    Price  Price/Earnings  ...        EBITDA  Price/Sales  Price/Book
0         1   109.63           19.54  ...  8.539410e+08     1.130106        2.51
1         1  1350.50          296.16  ...  1.613200e+10     3.927053       24.28
2         1    89.27           69.74  ...  2.370000e+09     1.502580        7.56
3         1   718.57           16.31  ...  2.347304e+09     1.851043      136.23
4         1    68.79           19.22  ...  2.555000e+09     0.767155        4.79

[5 rows x 11 columns]

In [0]:
target = df["SectorID"]

In [13]:
data = df.drop("SectorID", axis=1)
feature_names = data.columns
data.head()

     Price  Price/Earnings  ...  Price/Sales  Price/Book
0   109.63           19.54  ...     1.130106        2.51
1  1350.50          296.16  ...     3.927053       24.28
2    89.27           69.74  ...     1.502580        7.56
3   718.57           16.31  ...     1.851043      136.23
4    68.79           19.22  ...     0.767155        4.79

[5 rows x 10 columns]

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [15]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.3779527559055118

In [18]:
clf = tree.DecisionTreeClassifier(max_depth=3).fit(X_train,y_train)
print("Decision Tree Training Score:"+str(clf.score(X_train,y_train)))
print("Decision Tree Test Score:"+str(clf.score(X_test,y_test)))
pred = clf.predict(X_train)

Decision Tree Training Score:0.37566137566137564
Decision Tree Test Score:0.3700787401574803

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200, max_depth=3)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.47244094488188976

In [20]:
print("Random Forest Training Score:"+str(rf.score(X_train,y_train)))
print("Random Forest Test Score:"+str(rf.score(X_test,y_test)))
pred = rf.predict(X_train)

Random Forest Training Score:0.5291005291005291
Random Forest Test Score:0.47244094488188976

In [8]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.15743333861685055, 'EBITDA'),
 (0.12969679346949745, 'Price/Sales'),
 (0.11951883850015976, 'Dividend Yield'),
 (0.11087284725280327, 'Earnings/Share'),
 (0.10185347038036452, 'Price/Earnings'),
 (0.10096813244036798, 'Price/Book'),
 (0.08326137217350385, 'Market Cap'),
 (0.06802307437245607, '52 Week High'),
 (0.06634863750525904, '52 Week Low'),
 (0.062023495288737594, 'Price')]